body {
	padding: 0;
	margin: 0;
	background-color: $BACK-COLOR;
	color: $TEXT-COLOR;
	position: relative;
}

.hover {
	color: $TEXT-HOVER;
	border-color: $BORDER-HOVER-COLOR;
	cursor: pointer;
}

/* while defining a[title] using href */
@mixin highlight($color: lightgreen, $cursor: pointer) {
	color: $color;
	border-color: $color;
	cursor: $cursor;
}

inline-block {
	display: inline-block;
	inline-size: auto;
	font-size: 20px;
	border: $BORDER;
	border-radius: $BORDER-RADIUS;
	color: $LINK-COLOR;
	margin: 0 0 0.5rem 0.5rem;
	padding: 6px 1rem;
	text-wrap: nowrap;
	&:hover {
		@include highlight();
	}
}
.button,
.line_button,
button {
	width: 8rem;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px 5px;
	font-size: 16px;
	color: $TEXT-COLOR;
	background-color: $BACK-COLOR;
	cursor: pointer;
	&:hover {
		color: yellow;
		border: 1px solid white;
	}
	&:active {
		border: 1px solid yellow;
	}
	&:disabled {
		background-color: gray;
	}
}
.line_button {
	display: inline-block;
}
cr-button {
	@include cr-button;
}
[type='text'],
[type='number'] {
	display: block;
	width: 80%;
	padding-left: 1rem;
	margin-bottom: 1rem;
	height: 2rem;
	color: black;
	background-color: #3e3e3e;
	border: none;
	outline: 1px solid gray;
	border-radius: 8px;
	&:focus {
		background-color: #3e3e3e;
	}
	&::placeholder {
		color: var(--PLACEHOLDER_COLOR);
		font-weight: normal;
	}
}

[type='number'] {
	color: black;
	background-color: white;
	font-size: 18px;
	padding: 0;
	text-align: center;
	width: 3.5rem;
	border-radius: 4px;
}

h1 {
	color: $LINK-COLOR;
}

a {
	color: $LINK-COLOR;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	user-select: none;
	&:hover,
	&:focus-visible {
		color: $LINK-HOVER;
	}
	&:active {
		color: $LINK-ACTIVE;
	}
}

@mixin block($block-type: inline-block) {
	display: $block-type;
	width: 4rem;
	border: $BORDER;
	border-radius: 2px;
	color: $LINK-COLOR;
	margin-left: 0.5rem;
}

nav a:any-link {
	@extend a;
	@include block();
}
a-button {
	@extend a;
	@include block(block);
	border: 1px solid gray;
	padding: 4px 1rem;
}
// $font-size: (24px, 22px, 20px, 18px);
// @for $i from 1 through 4 {
// 	h#{$i} {
// 		font-size: nth($font-size, $i);
// 	}
// }

// h1 {
// 	color: navy;
// }

// $font-size: (24px, 22px, 20px, 18px);
// @for $i from 1 through 4 {
// 	h#{$i} {
// 		font-size: nth($font-size, $i);
// 		color: $LINK-COLOR;
// 	}
// }

// body {
// 	padding: 0;
// 	margin: 0;
// 	background-color: $BACK-COLOR;
// 	color: $TEXT-COLOR;
// 	position: relative;
// }
// button {
// 	width: 8rem;
// 	border: 1px solid gray;
// 	border-radius: 5px;
// 	padding: 5px 5px;
// 	font-size: 16px;
// 	color: $TEXT-COLOR;
// 	background-color: $BACK-COLOR;
// 	&:hover {
// 		color: yellow;
// 		border: 1px solid white;
// 	}
// 	&:active {
// 		border: 1px solid yellow;
// 	}
// 	&:disabled {
// 		background-color: gray;
// 	}
// }

// h1 {
// 	color: $LINK-COLOR;
// }

pre {
	color: skyblue;
	font-family: Times New Roman;
	font-size: 14px;
}

nav a:any-link {
	@extend a;
	@include block;
}
a-button {
	@extend a;
	@extend inline-block;
	border: 1px solid gray;
	padding: 4px 1rem;
}

$font-size: (24px, 22px, 20px, 18px);
@for $i from 1 through 4 {
	h#{$i} {
		font-size: nth($font-size, $i);
	}
}

h1 {
	color: navy;
}

$font-size: (24px, 22px, 20px, 18px);
@for $i from 1 through 4 {
	h#{$i} {
		font-size: nth($font-size, $i);
		color: $LINK-COLOR;
	}
}
.relative {
	position: relative;

	// master class has higher specificity than tooltip class, e.g.
	/* <Tooltip
				placement="top"
				type="custom"
				defaultClass="tooltip"
				class="master"
				arrow={false}
		>
			flowbite-svelte Tooltip
		</Tooltip>
		NOTE: defaultClass holds primary style
		while master class could be for warning, error,...
	*/
}
pre {
	color: skyblue;
	font-family: Times New Roman;
	font-size: 14px;
}
