@mixin caterpillar-item($bgcolor) {
	background-color: $bgcolor;
	color: white;
	border-radius: 5px;
	border: 1px solid gray;
	display: inline-block;
	line-height: 50px;
	text-align: center;
	width: 50px;
	&:hover {
		color: yellow;
		border-color: lightgreen;
	}
	&:target {
		background-color: blue;
	}
}
