/* Variables and mixins declared here will be available in all other SCSS files */
$TEXT-COLOR: white;
$TEXT-HOVER: yellow;
$BACK-COLOR: #3e3e3e;
$LINK-COLOR: white;
$LINK-HOVER: yellow;
$LINK-ACTIVE: lightgreen;
$BORDER: 1px solid gray;
$MESSAGE-COLOR: lightgreen;
$BORDER-RADIUS: 5px;
$BORDER-HOVER-COLOR: yellow;

$color: royalblue;
$title-color: skyblue;
$border-color: #bde168;

$TEXT-COLOR: white;
$BACK-COLOR: #3e3e3e;
$LINK-COLOR: white;
$LINK-HOVER: yellow;
$LINK-ACTIVE: lightgreen;
$BORDER: 1px solid gray;
$BORDER-RADIUS: 6px;
$BORDER-HOVER: yellow;
