/* Variables and mixins declared here will be available in all other SCSS files */
:root {
	$font-size: 16px;
	--PLACEHOLDER_COLOR: black;
	--MESSAGE-COLOR: lightgreen;
}
$TEXT-COLOR: white;
$TEXT-HOVER: yellow;
$BACK-COLOR: #3e3e3e;
$LINK-COLOR: white;
$LINK-HOVER: yellow;
$LINK-ACTIVE: lightgreen;
$BORDER: 1px solid gray;
$BORDER-RADIUS: 5px;
$BORDER-HOVER-COLOR: yellow;

$color: royalblue;
$title-color: skyblue;
$border-color: #bde168;

@mixin on-focus {
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	@content;
}
@mixin border-sm($color: gray, $radius: 5px, $padding: 3px 1rem) {
	border: 1px solid $color;
	border-radius: $radius;
}
@mixin border-lg($color: gray, $radius: 10px, $padding: 1rem 2rem) {
	border: 1px solid $color;
	border-radius: $radius;
}
@mixin border-xl($color: gray, $radius: 20px, $padding: 1.5rem 3rem) {
	border: 1px solid $color;
	border-radius: $radius;
}
@mixin cr-button($color: white, $background-color: navy) {
	@extend inline-block;
	color: $color;
	background-color: $background-color;
}
